.lobster {
	background-color: red;
	border: 10px solid black;
	margin: 15px;
	color: darkblue;
	font-family: comic sans ms
}
.crab {
	background-color: grey;
	border: 10px solid black;
	margin: 15px;
	color: maroon;
	font-family: comic sans ms
}
.crab-h2 {
	border-bottom: 3px solid maroon;
	width: 90%;
}
.lobster-h2 {
	border-bottom: 3px solid darkblue;
	width: 90%;
}
#shrimp {
	font-family: comic sans ms;
	color: gold;
}